<ion-navbar *navbar>
    <ion-title>
        Menu item
    </ion-title>

</ion-navbar>


<ion-content>
    <ion-list>
      <ion-item [hidden]="(menuItems |async)?.length">
        <ion-spinner icon="lines"></ion-spinner>
      </ion-item>
      <div *ngFor="let item of menuItems | async">
        <menu-item [item]="item"
        [isFather]="true"
        (availItem)="changeAvailibility(event,item)"
        (editItem)="editItem(item)"
        (deleteItem)="deleteItem(item)"
        ></menu-item>
      </div>
    </ion-list>

    <!-- (submit)="addTheItem(modelData)" -->

    <form #modelData="ngForm"

        (submit)="addUsingObject()"
    >
    <h4 padding>
      Add/upate Menu Item
    </h4>

    <ion-item>
        <ion-label>Title</ion-label>
        <ion-input required type="text"
        [(ngModel)]="newItem.name"
         ngControl="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label> Price </ion-label>
        <ion-input required type="number"
        [(ngModel)]="newItem.price"
         ngControl="price"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Description</ion-label>
        <ion-input required type="text"
        [(ngModel)]="newItem.desc"
         ngControl="desc"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Available</ion-label>
        <ion-checkbox required
        [(ngModel)]="newItem.available"
         ngControl="available">
         </ion-checkbox>
    </ion-item>
    <div padding>
        <button block type="submit" [disabled]="!modelData.valid"
        [innerHtml]="buttonText(newItem)"
        >
        </button>

        <button block (click)="cancelItem($event)">Cancel</button>
    </div>
    <div padding>
        <p *ngIf="error" class="error">Error:&nbsp;{{ error.code }}</p>
    </div>
    </form>
</ion-content>
