<ion-navbar *navbar>
	Your orders
</ion-navbar>


<ion-content>
	<ion-title>
		Select menu
	</ion-title>

	<ion-list  *ngFor=" let item of menu | async">
		<menu-item [item]="item" [isFather]="false" (addItem)="addToOrder(item)">
			loading...
		</menu-item>
	</ion-list>

  <ion-card>
   <ion-card-header>
   You cart   <ion-icon name="cart" item-left></ion-icon>
   <ion-badge>
    {{ order.amount }}
   </ion-badge>
   <button (click)="pushOrder()" secondary outline>
      Create Order
    </button>
   </ion-card-header>

    <ion-list>
      <menu-item
      *ngFor="let item of order.items; let i=index;"
       [item]="item"
       [itemIndex]="i"
      [isFather]="false"
      [inCart]="true"
      (orderItemIndex)="removeOrderItem(i)"
      ></menu-item>
    </ion-list>

  </ion-card>


	<ion-card>
		<ion-card-content>
			Total{{ (main|async)?.total }}
			<div>
			{{ (main |async) |json  }}
			</div>
			<br>
			Order:
			{{ order | json }}

		</ion-card-content>

	</ion-card>




</ion-content>
