<ion-navbar *navbar>

	Your orders
</ion-navbar>


<ion-content>
	<ion-title>
		Select menu
	</ion-title>

	<ion-card  *ngFor=" let item of menu | async">
		<ion-card-content>
			{{ item.name }} - {{ item.price}}  <button outline round (click)="addToOrder(item)">
				Add+
			</button>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			Total{{ (main|async)?.total }}

			<div>
			{{ (main |async) |json  }}
			</div>

			<br>
			Order:
			{{ order | json }}

		</ion-card-content>

	<div *ngFor="let order of userOrders | async">
			 		{{ order |json }}
		</div>


		<button (click)="pushOrder()" secondary outline>
			Create Order
		</button>

	</ion-card>




</ion-content>