<ion-navbar *navbar>
	Your orders
</ion-navbar>

<ion-content>


   <ion-card *ngFor="let order of userOrders | async">
  	<ion-card-content>
			<ion-item>
				<ion-label>Order of <ion-badge>{{ order.amount}}</ion-badge>
			</ion-label>
		    <ion-select [(ngModel)]="order.status" [disabled]="order.status==2">
					<ion-option *ngFor="let status of statusValues" [value]="status.value">
						{{ status.displayValue }}
					</ion-option>
		    </ion-select>
		    </ion-item>
		    <p>
				<small>Note: once done then you can't change the status of the order.</small>
				</p>
  	</ion-card-content>
   </ion-card>

	<ion-title>
		Select menu
	</ion-title>

	<ion-list>
		<div *ngFor=" let item of menu | async">
			<menu-item [item]="item" [isFather]="false" (addItem)="addToOrder(item)">
			</menu-item>
		</div>
	</ion-list>

  <ion-card>

   <ion-item>
   	<strong>You cart </strong>
   	<div item-right>
	   <ion-icon name="cart" item-left></ion-icon>
	   <ion-badge>
	    {{ order.amount }}
	   </ion-badge>
	   <button (click)="pushOrder()" secondary outline [disabled]="!order.amount" >
	      Create Order
	    </button>
	   </div>
   </ion-item>

    <ion-list>
      <menu-item
      *ngFor="let item of order.items; let i=index;"
       [item]="item"
       [itemIndex]="i"
      [isFather]="false"
      [inCart]="true"
      (orderItemIndex)="removeOrderItem(i)"
      ></menu-item>
    </ion-list>

  </ion-card>

</ion-content>
